	

<form action="/figures/<%= @figure.id %>" method="POST">
	<input type="hidden" name="_method" value="patch">

	
 <lable>Name</lable>
 <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">

	<br></br>
	<label>Add an existing Landmark:</label>
	 	<% Landmark.all.each do |landmark| %>
	  		<label><%= landmark.name %></label>
	    	<input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.name %>" >
	   <!--  	<%='checked' if @figure.landmarks.include?(landmark) %>  -->
	  	<% end %>
	<br> </br>

	 <label>Add New Landmark:</label>
	 <input type="text" id="new_landmark" name="landmark[name]" ><br></br>

  	<label> Year of Completion: </label>
  	<input type="text" id="year_completed" name="landmark[year_completed]" >
	  		
  	<br>


	<h3>Edit Titles</h3>
	<% Title.all.each do |title| %>
		<label><%= title.name %></label>
		<input type="checkbox" value="<%= title.id%>" name="figure[title_ids][]" >
		
		<% end %>
	<br>
	<label>Add New Title:</label>
  	<input type="text" id="new_title" name="title[name]" >
	<br>

	<input type="submit" value="Edit Figure">
</form>
