

<h2>Name: 
<a href="/figures/<%= @figure.id %>"><%= @figure.name %></a></h2>

<h3>Landmarks: </h3>
	   <ul>
        <% @figure.landmarks.each do |landmark|%>
        <li><%=landmark.name%></li>
        <%end %>
	   </ul>

 <h3>Titles: </h3>
 	    <ul>
        <% @figure.titles.each do |title|%>
        <li><%=title.name%></li>
        <%end %>
      </ul>

<h3> <a href="/figures">Figure Index</a></h3>

<h3> <a href="/figures/<%= @figure.id%>/edit">Edit</a></h3>

<h3> <a href="/">Home</a></h3>


<!-- 
href - go to route, not view
double quotes

<a class="button" href="/">Go Home</a>
 -->